body{
    width: 100%;
}
#header{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 119, 190);
    margin-left: 1px;
margin-top: 10px;
margin-right: 0px; 
z-index: 999;
position:sticky;
top:0;
left:0;


}
#header .nav{
padding-left:300px;
padding-right: 50px;
margin-left:60px;
     margin-top: 10px;
    margin-right: 0px;
  
}  
#header img{
    padding-left: 0px;
    margin-left:0px;
    padding-bottom: 15px;
     margin-top: 10px;
    margin-right: 0px;
  
}

.nav img{
    padding-left: 10px;
  }
  #navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  #navbar li{
    list-style: none;
    padding: 0 20px;
    font-size: 15px;
  position: relative;
  
     
  }
  #navbar li a{
     text-decoration:none;
     font-weight: 800;
     color:whitesmoke;
  }
  #navbar li a:hover,
  #navbar li a .active{
    color:yellow;
  
  }
   #navbar li a.active::after,  
   #navbar li a:hover::after{
       content:"";
       width:30%;
       height:2px;
       background:white;
       position: absolute;
       bottom:-4px;
       left:20px;
   }
   
   .logo a{
    text-decoration: none;
    color:rgb(138, 34, 129);
    font-size: 50px;
}

#contacts{
    background:url(img/contacts.jpg) no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 100px;
    margin-top: 0px;
}
#contact{
    padding-left: 50px;
    color: white;
}
.row {
  display:flex;
  align-items: center;
    justify-content:space-around;
    padding-top: 50px;
    color: white;
}
#copyright{
    padding-top: 150px;
    padding-left: 600px;
    align-items: center;
    justify-content: center;
    color: white;
}
#copyright a{
    text-decoration: none;
    color: aliceblue;
}
.logo a{
        text-decoration: none;
        color:rgb(138, 34, 129);
        font-size: 50px;
    }